extends ../layouts/common.pug

block content
    h1 Create User

    form(action="/users/create", method="POST")
        .form-group.mb-2
            label.me-2(for="name") Name
            input#name.form-control(name="name", type="text")
            
        .form-group.mb-2
            label.me-2(for="phone") Phone
            input#phone.form-control(name="name", type="text")
            
        button.btn.btn-primary.ms-1 Create