h1 Create User

form(action="/users/create", method="POST")
    label Name
    input(name="name", type="text")
    br

    label Phone
    input(name="Phone", type="text")
    br

    
    button Create