extends ../layouts/common.pug

block content
    h1
        span.me-3 Users
        a.btn.btn-primary(href="/users/create") Sign up

    .d-flex.align-items-center

        form.d-flex.ms-auto(action="/users/search", method="GET")
            input(type="text", name="q", class="form-control")
            button(class="btn btn-primary ms-1") Search

    table.table
        tr
            th Name
            th Phone
            th Actions
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href='/users/' + user.id) View
