extends ../layouts/common.pug

block content
    h1 New transfer

    form(action="/transfer/create", method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)
        .form-group.mb-2
            label.me-2(for="accountId") Name
            input#accountId.form-control(name="accountId", type="text")
            
        .form-group.mb-2
            label.me-2(for="amount") Amount
            input#amount.form-control(name="amount", type="number")
            
        button.btn.btn-primary.ms-1 Transfer